@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

form {
    display: block;
}

button {
    cursor: pointer;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.header_warp,
.margin_wrap {
    width: 1080px;
    margin: 0 auto;
}


/* main_slider */

#main_slider {
    width: 1890px;
    margin: 0 auto;
}

#main_slider img {
    width: 100%;
}

/* Goods */

/* 공통 */

.main_tit h3 {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: rgb(22, 22, 22);
    padding: 60px 0 40px 0;
}

.main_tit a {
    text-decoration: none;
}

.pro_tit {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -1px;
}

.pro_cou {
    font-size: 16px;
    margin-top: 15px;
    font-weight: 600;
    color: #333;
}

.pro_cou span:nth-child(1) {
    color: #FA622F;
}

.pro_pri {
    font-size: 14px;
    margin-top: 15px;
    font-weight: 400;
    text-decoration-line: line-through;
    color: rgb(175, 175, 175);
}


/* goods 시작 */

.ad_1 {
    max-width: 1080px;
    height: 650px;
}

.ad_1_list {
    height: 460px;
    margin: 0 auto;
}

.ad_1 li {
    width: 255px;
    margin-left: 20px;
    float: left;
    font-weight: 600;
}

.ad_1 li:first-child {
    margin-left: 0px;
}

.ad_1 li a {
    display: block;
    overflow: hidden;
}

.ad_1 li img {
    width: 100%;
}

.ad_1 li img:hover {
    transform: scale(1.05);
    transition: transform .35s;
}


/* ########################## */


.ad_2 {
    max-width: 100%;
    height: 620px;
    background-color: rgb(245, 245, 245);
}


.ad_2_list {
    width: 1080px;
    margin: 0 auto;
}

.ad_2_list li {
    width: 348px;
    margin-left: 18px;
    float: left;
    text-align: center;
}

.ad_2_list li img:hover {
    transform: scale(1.05);
    transition: transform .35s;
}

.ad_2_list li a {
    display: block;
    overflow: hidden;
}

.ad_2_list li:first-child {
    margin-left: 0px;
}

.ad_2_list li img {
    width: 100%;
}

.ad_2 p {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-top: 15px;
    line-height: 40px;
}

.ad_2 span {
    font-size: 16px;
    color: rgb(141, 141, 141);
}


/* ########################## */

.ad_3 {
    height: 650px;
}

.ad_3_list {
    height: 460px;
    margin: 0 auto;
}

.ad_3_list li {
    width: 255px;
    margin-left: 20px;
    float: left;
    font-weight: 600;
}

.ad_3_list li:first-child {
    margin-left: 0px;
}

.ad_3_list li a {
    display: block;
    overflow: hidden;
}

.ad_3_list li img {
    width: 100%;
}

.ad_3_list li img:hover {
    transform: scale(1.05);
    transition: transform .35s;
}


/* ########################## */

.ad_4 {
    line-height: 200px;
}

.ad_4 img {
    width: 100%;
}


/* ########################## */

.ad_5 {
    height: 900px;
}


.ad_5 .category .category_list {
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}

.ad_5 .category .category_list li {
    display: inline-block;
    padding: 5px 5px 20px 5px;
}


.ad_5 .category .category_list li a {
    display: inline-block;
    height: 36px;
    padding: 10px 40px 0 40px;
    border: 1px solid #f7f7f6;
    border-radius: 20px;
    background-color: #f7f7f7;
    font-size: 14px;
    line-height: 12px;
}

.ad_5 .category .category_list li a:hover {
    color: #fff;
    background-color: #5f0081;
    text-decoration: none;
}

.ad_5_list {
    padding: 30px 0 80px 0;
}

.ad_5_list li {
    width: 255px;
    margin-left: 20px;
    float: left;
    font-weight: 600;
}

.ad_5_list li:first-child {
    margin-left: 0px;
}

.ad_5_list li a {
    display: block;
    overflow: hidden;
}

.ad_5_list li img {
    width: 100%;
}

.ad_5_list li img:hover {
    transform: scale(1.05);
    transition: transform .35s;
}

.ad_5_sub_tit a {
    
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    border: 1px solid rgb(212, 212, 212);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}


.ad_5_1 {
    line-height: 200px;
}

.ad_5_1 img {
    width: 100%;
}


/* ################ */

.ad_6 {
    height: 650px;
}

.ad_6 li {
    width: 255px;
    margin-left: 20px;
    float: left;
    font-weight: 600;
}

.ad_6 li:first-child {
    margin-left: 0px;
}

.ad_6 li a {
    display: block;
    overflow: hidden;
}

.ad_6 li img {
    width: 100%;
}

.ad_6 li img:hover {
    transform: scale(1.05);
    transition: transform .35s;
}


/* ############### */

.ad_7 {
    width: 100%;
    height: 650px;
    background-color: rgb(245, 245, 245);
}

.ad_7_list {
    width: 1080px;
    margin: 0 auto;
}

.ad_7 li {
    width: 255px;
    margin-left: 20px;
    float: left;
    font-weight: 600;
}

.ad_7 li:first-child {
    margin-left: 0px;
}

.ad_7 li a {
    display: block;
    overflow: hidden;
}

.ad_7 li img {
    width: 100%;
}

.ad_7 li img:hover {
    transform: scale(1.05);
    transition: transform .35s;
}


/* ################ */

.ad_8 {
    height: 650px;
}

.ad_8_tit a {
    text-decoration: none;
}

.ad_8 li {
    width: 255px;
    margin-left: 20px;
    float: left;
    font-weight: 600;
}

.ad_8 li:first-child {
    margin-left: 0px;
}

.ad_8 li a {
    display: block;
    overflow: hidden;
}

.ad_8 li img {
    width: 100%;
}

.ad_8 li img:hover {
    transform: scale(1.05);
    transition: transform .35s;
}


/* ############### */

.ad_9 {
    width: 100%;
    height: 650px;
    background-color: rgb(245, 245, 245);
}

.ad_9_tit a {
    text-decoration: none;
}

.ad_9_list {
    width: 1080px;
    margin: 0 auto;
}

.ad_9 li {
    width: 255px;
    margin-left: 20px;
    float: left;
    font-weight: 600;
}

.ad_9 li:first-child {
    margin-left: 0px;
}

.ad_9 li a {
    display: block;
    overflow: hidden;
}

.ad_9 li img {
    width: 100%;
}

.ad_9 li img:hover {
    transform: scale(1.05);
    transition: transform .35s;
}

.ad_9_tit a {
    font-size: 25px;
    font-weight: 500;
    color: #333;
    line-height: 30px;
}

.ad_9_tit span {
    font-size: 16px;
    font-weight: 400;
    color: rgb(138, 138, 138);
}


/* ################ */

.ad_10 {
    height: 400px;
}

.ad_10 li {
    width: 348px;
    margin-left: 18px;
    float: left;
    text-align: center;
}

.ad_10 li:first-child {
    margin-left: 0px;
}

.ad_10 li a {
    display: block;
    overflow: hidden;
}

.ad_10 li img {
    width: 100%;
}

.ad_10 li img:hover {
    transform: scale(1.05);
    transition: transform .35s;
}

.ad_10 p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(104, 104, 104);
    margin-top: 20px;
}

/* ########################## */

.ad_11 {
    margin-top: 80px;
    line-height: 100px;
}

.ad_11 img {
    width: 100%;
}

/* ################ */

