body {
    background: #fff;
    font-family: "gulim", sans-serif;
    font-size: 12px;
    color: #5b5b5b;
    line-height: 100%;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    letter-spacing: -0px;
}

html,
body {
    width: 100%;
    height: 100%;
    letter-spacing: 0px;
}

div,
p,
ul,
li,
table,
th,
td,
textarea,
input,
span,
form,
h1,
h2,
h3,
h4,
h5,
h6,
dt,
dl,
dd,
em,
sup {
    padding: 0px;
    margin: 0px;
}

ul,
ol,
dl,
dd,
dt,
li {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    line-height: 100%;
    font-size: 12px;
    color: #5b5b5b;
    letter-spacing: 0px;
}

form,
fieldset,
p {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    border: 0;
    vertical-align: middle;
    outline: none;
}

​ a,
a:link,
a:visited,
a:active {
    color: #575757;
    letter-spacing: normal;
    text-decoration: none;
    letter-spacing: -0.8px;
}

div, th, td, li, dt, dd, p {
    word-break: break-all;
}


@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

form {
    display: block;
}

button {
    cursor: pointer;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.header_warp,
.margin_wrap {
    width: 1080px;
    margin: 0 auto;
}