<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
	<typeAlias type="e.market.kurly.board.BoardFilesDTO" alias="BoardFilesDTO"/>
		<typeAlias type="e.market.kurly.mypage.qna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="e.market.kurly.mypage.offer.OfferDTO" alias="OfferDTO"/>
		<typeAlias type="e.market.kurly.mypage.echo.EchoDTO" alias="EchoDTO"/>
		
		<typeAlias type="java.lang.Long" alias="Long"/>
	</typeAliases>
</configuration>