<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="e.market.kurly.util.Pager" alias="Pager"/>
		<typeAlias type="e.market.kurly.members.MembersDTO" alias="MembersDTO"/>
		<typeAlias type="e.market.kurly.board.BoardFilesDTO" alias="BoardFilesDTO"/>
		<typeAlias type="e.market.kurly.mypage.qna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="e.market.kurly.mypage.offer.OfferDTO" alias="OfferDTO"/>
		<typeAlias type="e.market.kurly.mypage.echo.EchoDTO" alias="EchoDTO"/>
		<typeAlias type="e.market.kurly.mypage.bulk.BulkDTO" alias="BulkDTO"/>
		<typeAlias type="e.market.kurly.board.list.ListDTO" alias="ListDTO"/>
		<typeAlias type="e.market.kurly.service.faq.FaqDTO" alias="FaqDTO"/>
		<typeAlias type="e.market.kurly.mypage.destination.DestinationDTO" alias="DestinationDTO" />
		
		<typeAlias type="java.lang.Long" alias="Long"/>
	</typeAliases>
</configuration>