<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="e.market.kurly.mypage.destination.DestinationDAO">
	<insert id="setInsert" parameterType="DestinationDTO">
		INSERT INTO DESTINATION
		VALUES (#{id}, #{address_loca}, #{address_post}, #{name}, #{phone_num}, #{shipping_type}, #{default_type}, #{check_type})
	</insert>
	
	<select id="getList" parameterType="MembersDTO" resultType="DestinationDTO">
		SELECT * FROM DESTINATION 
		WHERE ID = #{id}
		ORDER BY CHECK_TYPE DESC, ADDRESS_LOCA ASC
	</select>
	
	<update id="setDefaultUpdate" parameterType="DestinationDTO">
		UPDATE DESTINATION SET DEFAULT_TYPE = 'n'
		WHERE ADDRESS_POST NOT LIKE #{address_post}
	</update>
	
	<update id="setCheckSelect" parameterType="DestinationDTO">
		UPDATE DESTINATION SET CHECK_TYPE = 'y'
		WHERE ADDRESS_POST = #{address_post}
	</update>
		
	<update id="setCheckUpdate" parameterType="DestinationDTO">
		UPDATE DESTINATION SET CHECK_TYPE = 'n'
		WHERE ADDRESS_POST NOT LIKE #{address_post}
	</update>
	
	<select id="getListOne" parameterType="DestinationDTO" resultType="DestinationDTO">
		SELECT * FROM DESTINATION
		WHERE ADDRESS_POST = #{address_post}
	</select>
	
	<update id="setUpdate" parameterType="DestinationDTO">
		UPDATE DESTINATION
		SET ADDRESS_LOCA = #{address_loca}, NAME = #{name}, PHONE_NUM = #{phone_num}, DEFAULT_TYPE = #{default_type}
		WHERE ADDRESS_POST = #{address_post}
	</update>
	
	<delete id="setDelete" parameterType="DestinationDTO">
		DELETE FROM DESTINATION 
		WHERE ADDRESS_POST = #{address_post}
	</delete>
	
	<update id="setDefaultToCheck">
		UPDATE DESTINATION SET CHECK_TYPE = 'y'
		WHERE ADDRESS_POST = (SELECT ADDRESS_POST FROM DESTINATION WHERE DEFAULT_TYPE = 'y')
	</update>
 </mapper>