<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="e.market.kurly.mypage.emoney.EmoneyDAO">
 	<select id="getEmoneyList" parameterType="java.lang.String" resultType="e.market.kurly.mypage.emoney.EmoneyDTO">
 		SELECT * FROM EMONEY
 		WHERE USER_ID=#{userId}
 		ORDER BY EMONEY_SEQ DESC
 	</select>
 	
 	<select id="getListCount" parameterType="java.lang.String" resultType="java.lang.Long">
 		SELECT COUNT(EMONEY_SEQ) FROM EMONEY
 		WHERE USER_ID=#{userId}
 	</select>
 	
 	
 	<!-- 후기적립금 500원 적립 트랜잭션 START -->
 	<insert id="insertRvPoint" parameterType="e.market.kurly.mypage.emoney.BuyingDTO">
 		INSERT INTO EMONEY (EMONEY_SEQ, USER_ID, EMONEY, MEMO, STATUS)
		VALUES (EMONEY_SEQ.NEXTVAL, #{userId}, 500, '[후기적립금]'+#{product_name}, 'N')
 	</insert>
 	
 	<update id="updateRvPoint" parameterType="e.market.kurly.mypage.emoney.BuyingDTO">
 		UPDATE EMONEY SET BALANCE=
		    (SELECT BALANCE FROM EMONEY
		    WHERE USER_ID=#{userId} AND EMONEY_SEQ=
		    (SELECT MAX(EMONEY_SEQ) FROM EMONEY
		    WHERE USER_ID=#{userId} AND EMONEY_SEQ NOT IN 
		    (SELECT MAX(EMONEY_SEQ) FROM EMONEY WHERE USER_ID=#{userId})))+500    
		WHERE EMONEY_SEQ=
		    (SELECT MAX(EMONEY_SEQ) FROM EMONEY
		    WHERE user_ID=#{userId})  
 	</update>
 	<!-- //후기적립금 500원 적립 트랜잭션 END -->
 	
 	
 	<!-- 구매적립금 총구매액*5% 적립 트랜잭셕 START -->
 	<insert id="insertBuyPoint" parameterType="e.market.kurly.mypage.emoney.BuyingDTO">
 		INSERT INTO EMONEY (EMONEY_SEQ, USER_ID, EMONEY, MEMO, STATUS)
		VALUES (EMONEY_SEQ.NEXTVAL, #{userId}, #{totalPay}*0.05, '[구매적립] 주문('+#{order_number}+') 5% 적립', 'N')
 	</insert>
 	
 	<update id="updateBuyPoint" parameterType="e.market.kurly.mypage.emoney.BuyingDTO">
 		UPDATE EMONEY SET BALANCE=
		    (SELECT BALANCE FROM EMONEY
		    WHERE USER_ID=#{userId} AND EMONEY_SEQ=
		    (SELECT MAX(EMONEY_SEQ) FROM EMONEY
		    WHERE USER_ID=#{userId} AND EMONEY_SEQ NOT IN 
		    (SELECT MAX(EMONEY_SEQ) FROM EMONEY WHERE USER_ID=#{userId})))+50000*0.05    
		WHERE EMONEY_SEQ=
		    (SELECT MAX(EMONEY_SEQ) FROM EMONEY
		    WHERE USER_ID=#{userId})
 	</update>
 	<!-- //구매적립금 총구매액*5% 적립 트랜잭셕 START -->
 	
 	
 	<!-- 적립금 사용시 적립금 차감 트랜잭션 START -->
 	<insert id="insertUsePoint" parameterType="e.market.kurly.mypage.emoney.BuyingDTO">
 		INSERT INTO EMONEY (EMONEY_SEQ, USER_ID, EMONEY, MEMO, STATUS)
		VALUES (EMONEY_SEQ.NEXTVAL, #{userId}, '-'+#{use_point}, '[사용] 주문('+#{order_number}+') 결제 시 사용', 'Y')
 	</insert>
 	
 	<update id="UpdateUsePoint" parameterType="e.market.kurly.mypage.emoney.BuyingDTO">
 		UPDATE EMONEY SET BALANCE=
		    (SELECT BALANCE FROM EMONEY
		    WHERE USER_ID=#{userId} AND EMONEY_SEQ=
		    (SELECT MAX(EMONEY_SEQ) FROM EMONEY
		    WHERE user_ID=#{userId} AND EMONEY_SEQ NOT IN 
		    (SELECT MAX(EMONEY_SEQ) FROM EMONEY WHERE USER_ID=#{userId})))-#{use_point}    
		WHERE EMONEY_SEQ=
		    (SELECT MAX(EMONEY_SEQ) FROM EMONEY
		    WHERE user_ID=#{userId})
 	</update>
 	<!-- //적립금 사용시 적립금 차감 트랜잭션 END -->
 	
 	
 	<!-- 내 보유적립금 불러오기 START -->
 	<select id="getPointInfo" parameterType="java.lang.String" resultType="java.lang.Integer">
 		SELECT BALANCE FROM EMONEY
		WHERE EMONEY_SEQ=(SELECT MAX(EMONEY_SEQ) FROM EMONEY WHERE USER_ID=#{userId})
 	</select>
 	<!-- //내 보유적립금 불러오기 END -->
 	
 	
 </mapper>