<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="e.market.kurly.mypage.order.OrderDAO">
	<select id="getOrderNum" parameterType="MembersDTO" resultType="String">
		SELECT DISTINCT ORDERNUM FROM ORDERLIST WHERE ID = #{id}
	</select>
	
	<select id="getBeforeOrderNum" parameterType="MembersDTO" resultType="String">
		SELECT DISTINCT ORDERNUM FROM ORDERLIST WHERE ID = #{id} AND REVIEWCK = 'n'
	</select>
	
	<select id="getAfterOrderNum" parameterType="MembersDTO" resultType="String">
		SELECT DISTINCT ORDERNUM FROM ORDERLIST WHERE ID = #{id} AND REVIEWCK = 'y'
	</select>
	
	<select id="getListByOrderNum" parameterType="String" resultType="OrderDTO">
		SELECT * FROM ORDERLIST
		WHERE ORDERNUM = #{orderNum}
	</select>
	
	<select id="getOne" parameterType="Long" resultType="OrderDTO">
		SELECT * FROM ORDERLIST WHERE GOODSNO = #{goodsNo}
	</select>
 </mapper>