<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="e.market.kurly.mypage.order.OrderDAO">
	<insert id="orderInfo">
		INSERT INTO TBL_ORDER(orderId, userId, orderRec, address_post, address_loca, orderPhone, amount)
		VALUES (#{orderId}, #{userId}, #{orderRec}, #{address_post}, #{address_loca}, #{orderPhone}, #{amount})
	</insert>
	
	<insert id="orderInfo_Details">
		INSERT INTO TBL_ORDER_DETAILS(orderDetailsNum, orderId, pruduct_id, cartStock)
		SELECT TBL_ORDER_DETAILS_SEQ.NEXTVAL, #{orderId}, product_id, cartStock
		from TBL_CART
	</insert>

	<select id="getOrderNum" parameterType="MembersDTO" resultType="String">
		SELECT DISTINCT ORDERNUM FROM ORDERLIST WHERE ID = #{id}
	</select>
	
	<select id="getBeforeOrderNum" parameterType="MembersDTO" resultType="String">
		SELECT DISTINCT ORDERNUM FROM ORDERLIST WHERE ID = #{id} AND REVIEWCK = 'n'
	</select>
	
	<select id="getAfterOrderNum" parameterType="MembersDTO" resultType="String">
		SELECT DISTINCT ORDERNUM FROM ORDERLIST WHERE ID = #{id} AND REVIEWCK = 'y'
	</select>
	
	<select id="getListByOrderNum" parameterType="String" resultType="OrderDTO">
		SELECT * FROM ORDERLIST
		WHERE ORDERNUM = #{orderNum}
	</select>
	
	<select id="getOne" parameterType="Long" resultType="OrderDTO">
		SELECT * FROM ORDERLIST WHERE GOODSNO = #{goodsNo}
	</select>
 </mapper>